[submodule "love/src/jni/love"]
	path = love/src/jni/love
	url = https://github.com/DarkEnergyProcessor/livesim3-love
[submodule "love/src/jni/lua-modules/ls2x"]
	path = love/src/jni/lua-modules/ls2x
	url = https://github.com/DarkEnergyProcessor/ls2x
