[submodule "love/src/jni/love"]
	path = love/src/jni/love
	url = https://github.com/love2d/love
[submodule "love/src/jni/lua-modules/ls2x"]
	path = love/src/jni/lua-modules/ls2x
	url = https://github.com/DarkEnergyProcessor/ls2x
[submodule "love/src/jni/lua-modules/lua-https"]
	path = love/src/jni/lua-modules/lua-https
	url = https://github.com/love2d/lua-https
[submodule "app/src/embed/assets"]
	path = app/src/embed/assets
	url = https://github.com/DarkEnergyProcessor/livesim2
	branch = over_the_rainbow
